@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmação Recuperar Password";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor, valide o seu e-mail para recuperar a sua password!
</p>
<p>
    De momento não temos o envio de e-mail ativo.
</p>
