@page
@model RegisterModel
@{
    ViewData["Title"] = "Registo Novo Sócio";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Nome" class="form-control" autocomplete="nome" aria-required="true" placeholder="nome" />
                <label asp-for="Input.Nome">Nome Completo</label>
                <span asp-validation-for="Input.Nome" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.NIF" class="form-control" autocomplete="nif" aria-required="true" placeholder="nif" />
                <label asp-for="Input.NIF">Nº Identificação Fiscal(NIF)</label>
                <span asp-validation-for="Input.NIF" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Dtnascim" class="form-control" autocomplete="dtnascim" aria-required="true" placeholder="dtnascim" />
                <label asp-for="Input.Dtnascim">Data Nascimento</label>
                <span asp-validation-for="Input.Dtnascim" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Morada" class="form-control" autocomplete="morada" aria-required="true" placeholder="morada" />
                <label asp-for="Input.Morada">Morada</label>
                <span asp-validation-for="Input.Morada" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.CodPostal" class="form-control" autocomplete="codpostal" aria-required="true" placeholder="codpostal" />
                <label asp-for="Input.CodPostal">Código Postal</label>
                <span asp-validation-for="Input.CodPostal" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Contato" class="form-control" autocomplete="contato" aria-required="true" placeholder="contato" />
                <label asp-for="Input.Contato">Contacto Telefónico</label>
                <span asp-validation-for="Input.Contato" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirme Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-success">Registar Sócio</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
