@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmar Registo";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    De momento não temos a confirmação do registo via e-mail ativada.<a id="confirm-link" href="@Model.EmailConfirmationUrl">Confirmar registo</a>
</p>
    }
    else
    {
<p>
        Por favor, valide o seu e-mail para confirmar o registo. Caso não encontre procure na secção SPAM.
</p>
    }
}

