@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmação Recuperação password";
}

<h1>@ViewData["Title"]</h1>
<p>
    Password recuperada! Por favor, <a asp-page="./Login"> carregue aqui para efetuar log in</a>.
</p>
