html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

div:not(:first-child):not(:last-child) {
    /*  margin-left: 200px;
    margin-right: 20px;*/
    /*margin-top: 20px;*/
    margin-bottom: 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: 200px 200px 200px;
}

.wrapper1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.wrapper2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.wrapper3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.right {
    margin-right: 8px;
}

.btn-xl {
    border: 1px solid gray;
    border-radius: 7%;
    font-size: 0.875;
    word-wrap: break-word;
    width: 100px;
    /* only for IE8 max-width: 100%;*/
}

.bg-positivos {
    text-align: left;
}

.valoresCSS{
    font-size: 18px;
}

.sort {
    color: #cf2525;
    text-decoration: none;
}
.sort:hover {
    color: white;
    background-color: #cf2525
}

.btn-svg-container {
    display: flex;
    align-items: center;
}

.top {
    color: #cf2525;
    text-decoration: none;
}

.items {
    color: #000000;
    font-size: 1.3em;
}

.navbar-nav .items a.nav-link:hover {
    background-color: #52b560;
    color: #fff;
    transition: all 3s;
}
.navbar-nav .items a.nav-link:focus {
    background-color: #52b560;
    color: #fff;
}

.items:hover {
    background-color: #52b560;
    color: #fff;
    transition: all 3s;
}

.itemdrop:active {
    background-color: #52b560;
    font-weight: bold;
    color: #198754;
    border:solid;
}

.itemdrop:hover {
    background-color: #e6f6e8;
}

.nav-pills .nav-link.active, .nav-pills .nav-link.active:hover, .nav-pills .nav-link.active:focus {
    background-color: #e6f6e8;
    color: #198754;
    font-weight:bold;
    border:solid;
    font-size: 1.2em;
}

.nav-pills > li > a {
    background-color: #777;
    border-color: #FFFFFF;
    color: #198754;
    font-size: 1.2em;
}

.nav-pills > li > a:hover {
    color: #cf2525;
    font-weight:bold;
}
.swal2-popup .swal2-actions button.swal2-confirm {
    background-color: #198754 !important;
}


.custom-logout-button {
    color: #fff;
}
