@page
@model AppGCT.Pages.Gestao.Movimentos.AcessDeniedModel
@{
    ViewData["Title"] = "Acesso Restrito";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Sem acesso ao recurso pretendido!</p>
    <p class="text-danger">Movimento não existe ou não está associado ao Sócio loggado no sistema!</p>
</header>