@page
@model AppGCT.Pages.Gestao.Movimentos.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Movimento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Movimento.DesRubrica" class="control-label"></label>
                <input asp-for="Movimento.DesRubrica" class="form-control" />
                <span asp-validation-for="Movimento.DesRubrica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movimento.DtMovimento" class="control-label"></label>
                <input asp-for="Movimento.DtMovimento" class="form-control" />
                <span asp-validation-for="Movimento.DtMovimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movimento.ValorMovimento" class="control-label"></label>
                <input asp-for="Movimento.ValorMovimento" class="form-control" />
                <span asp-validation-for="Movimento.ValorMovimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movimento.ValorDesconto" class="control-label"></label>
                <input asp-for="Movimento.ValorDesconto" class="form-control" />
                <span asp-validation-for="Movimento.ValorDesconto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movimento.NumFatura" class="control-label"></label>
                <input asp-for="Movimento.NumFatura" class="form-control" />
                <span asp-validation-for="Movimento.NumFatura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movimento.NumNotaCredito" class="control-label"></label>
                <input asp-for="Movimento.NumNotaCredito" class="form-control" />
                <span asp-validation-for="Movimento.NumNotaCredito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movimento.DataCriacao" class="control-label"></label>
                <input asp-for="Movimento.DataCriacao" class="form-control" />
                <span asp-validation-for="Movimento.DataCriacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movimento.IdCriacao" class="control-label"></label>
                <input asp-for="Movimento.IdCriacao" class="form-control" />
                <span asp-validation-for="Movimento.IdCriacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movimento.DataModificacao" class="control-label"></label>
                <input asp-for="Movimento.DataModificacao" class="form-control" />
                <span asp-validation-for="Movimento.DataModificacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movimento.IdModificacao" class="control-label"></label>
                <input asp-for="Movimento.IdModificacao" class="form-control" />
                <span asp-validation-for="Movimento.IdModificacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movimento.UtilizadorId" class="control-label"></label>
                <select asp-for="Movimento.UtilizadorId" class ="form-control" asp-items="ViewBag.UtilizadorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Movimento.AtletaMovimentoId" class="control-label"></label>
                <select asp-for="Movimento.AtletaMovimentoId" class ="form-control" asp-items="ViewBag.AtletaMovimentoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Movimento.RubricaId" class="control-label"></label>
                <select asp-for="Movimento.RubricaId" class ="form-control" asp-items="ViewBag.RubricaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Movimento.MetodoPagamentoId" class="control-label"></label>
                <select asp-for="Movimento.MetodoPagamentoId" class ="form-control" asp-items="ViewBag.MetodoPagamentoId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
