@page
@model AppGCT.Pages.Gestao.Movimentos.EditModel

@{
    ViewData["Title"] = "Editar Movimento";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Editar Movimento</h1>

<hr />
<div>
    <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Gestao/Movimentos/Index'>Voltar</a>
</div>
<br>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Movimento.Id" />
            <div class="form-group">
                <label asp-for="Movimento.DesRubrica" class="control-label"></label>
                <input asp-for="Movimento.DesRubrica" class="form-control" />
                <span asp-validation-for="Movimento.DesRubrica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movimento.DtMovimento" class="control-label"></label>
                <input asp-for="Movimento.DtMovimento" class="form-control" />
                <span asp-validation-for="Movimento.DtMovimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movimento.ValorMovimento" class="control-label"></label>
                <input asp-for="Movimento.ValorMovimento" class="form-control" />
                <span asp-validation-for="Movimento.ValorMovimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movimento.ValorDesconto" class="control-label"></label>
                <input asp-for="Movimento.ValorDesconto" class="form-control" />
                <span asp-validation-for="Movimento.ValorDesconto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movimento.NumFatura" class="control-label"></label>
                <input asp-for="Movimento.NumFatura" class="form-control" />
                <span asp-validation-for="Movimento.NumFatura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movimento.NumNotaCredito" class="control-label"></label>
                <input asp-for="Movimento.NumNotaCredito" class="form-control" />
                <span asp-validation-for="Movimento.NumNotaCredito" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Movimento.DataCriacao" />
            <input type="hidden" asp-for="Movimento.IdCriacao" />
            <div class="form-group">
                <label asp-for="Movimento.UtilizadorId" class="control-label"></label>
                <select asp-for="Movimento.UtilizadorId" class="form-control" asp-items="ViewBag.UtilizadorId"></select>
                <span asp-validation-for="Movimento.UtilizadorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movimento.AtletaMovimentoId" class="control-label"></label>
                <select asp-for="Movimento.AtletaMovimentoId" class="form-control" asp-items="ViewBag.AtletaMovimentoId"></select>
                <span asp-validation-for="Movimento.AtletaMovimentoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movimento.RubricaId" class="control-label"></label>
                <select asp-for="Movimento.RubricaId" class="form-control" asp-items="ViewBag.RubricaId"></select>
                <span asp-validation-for="Movimento.RubricaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movimento.MetodoPagamentoId" class="control-label"></label>
                <select asp-for="Movimento.MetodoPagamentoId" class="form-control" asp-items="ViewBag.MetodoPagamentoId"></select>
                <span asp-validation-for="Movimento.MetodoPagamentoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
