@page
@model AppGCT.Pages.Gestao.PlanoMensalidades.Index1Model
@{
    ViewData["Title"] = "Acesso Restrito";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Sem acesso ao recurso pretendido!</p>
</header>
