@page
@model AppGCT.Pages.Inscricoes.InscricaoEpoca.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Criar Inscrição</h1>

<hr />
<div>
    <a class='btn btn-primary btn-sm' href='/Inscricoes/InscricaoEpoca/Index?id=@ViewBag.BackId'>Voltar</a>
</div>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Inscricao.IdFGP" class="control-label"></label>
                <input asp-for="Inscricao.IdFGP" class="form-control" />
                <span asp-validation-for="Inscricao.IdFGP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inscricao.ISocGinasta" class="control-label"></label>
                <input asp-for="Inscricao.ISocGinasta" class="form-control" />
                <span asp-validation-for="Inscricao.ISocGinasta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inscricao.DtInscricao" class="control-label"></label>
                <input asp-for="Inscricao.DtInscricao" class="form-control" />
                <span asp-validation-for="Inscricao.DtInscricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inscricao.IConsentimento" class="control-label"></label>
                <input asp-for="Inscricao.IConsentimento" class="form-control" />
                <span asp-validation-for="Inscricao.IConsentimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inscricao.DtConsentimento" class="control-label"></label>
                <input asp-for="Inscricao.DtConsentimento" class="form-control" />
                <span asp-validation-for="Inscricao.DtConsentimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inscricao.IExamMed" class="control-label"></label>
                <input asp-for="Inscricao.IExamMed" class="form-control" />
                <span asp-validation-for="Inscricao.IExamMed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inscricao.DtExamMed" class="control-label"></label>
                <input asp-for="Inscricao.DtExamMed" class="form-control" />
                <span asp-validation-for="Inscricao.DtExamMed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inscricao.IFicFGP" class="control-label"></label>
                <input asp-for="Inscricao.IFicFGP" class="form-control" />
                <span asp-validation-for="Inscricao.IFicFGP" class="text-danger"></span>
            </div>
                        <div class="form-group">
                <label asp-for="Inscricao.DtFicFGP" class="control-label"></label>
                <input asp-for="Inscricao.DtFicFGP" class="form-control" />
                <span asp-validation-for="Inscricao.DtFicFGP" class="text-danger"></span>
            </div>
                        <div class="form-group">
                <label asp-for="Inscricao.ISeguro" class="control-label"></label>
                <input asp-for="Inscricao.ISeguro" class="form-control" />
                <span asp-validation-for="Inscricao.ISeguro" class="text-danger"></span>
            </div>
                        <div class="form-group">
                <label asp-for="Inscricao.IPagamInscricao" class="control-label"></label>
                <input asp-for="Inscricao.IPagamInscricao" class="form-control" />
                <span asp-validation-for="Inscricao.IPagamInscricao" class="text-danger"></span>
            </div>
                        <div class="form-group">
                <label asp-for="Inscricao.ILeituraObrig" class="control-label"></label>
                <input asp-for="Inscricao.ILeituraObrig" class="form-control" />
                <span asp-validation-for="Inscricao.ILeituraObrig" class="text-danger"></span>
            </div>
                        <div class="form-group">
                <label asp-for="Inscricao.IFotos" class="control-label"></label>
                <input asp-for="Inscricao.IFotos" class="form-control" />
                <span asp-validation-for="Inscricao.IFotos" class="text-danger"></span>
            </div>
                        <div class="form-group">
                <label asp-for="Inscricao.IIbuprofeno" class="control-label"></label>
                <input asp-for="Inscricao.IIbuprofeno" class="form-control" />
                <span asp-validation-for="Inscricao.IIbuprofeno" class="text-danger"></span>
            </div>
                        <div class="form-group">
                <label asp-for="Inscricao.IParacetamol" class="control-label"></label>
                <input asp-for="Inscricao.IParacetamol" class="form-control" />
                <span asp-validation-for="Inscricao.IParacetamol" class="text-danger"></span>
            </div>
                        <div class="form-group">
                <label asp-for="Inscricao.IAntiInflam" class="control-label"></label>
                <input asp-for="Inscricao.IAntiInflam" class="form-control" />
                <span asp-validation-for="Inscricao.IAntiInflam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inscricao.DescAlergias" class="control-label"></label>
                <input asp-for="Inscricao.DescAlergias" class="form-control" />
                <span asp-validation-for="Inscricao.DescAlergias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inscricao.DataCriacao" class="control-label"></label>
                <input asp-for="Inscricao.DataCriacao" class="form-control" />
                <span asp-validation-for="Inscricao.DataCriacao" class="text-danger"></span>
            </div>
                        <div class="form-group">
                <label asp-for="Inscricao.IdCriacao" class="control-label"></label>
                <input asp-for="Inscricao.IdCriacao" class="form-control" />
                <span asp-validation-for="Inscricao.IdCriacao" class="text-danger"></span>
            </div>
                        <div class="form-group">
                <label asp-for="Inscricao.DataModificacao" class="control-label"></label>
                <input asp-for="Inscricao.DataModificacao" class="form-control" />
                <span asp-validation-for="Inscricao.DataModificacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inscricao.IdModificacao" class="control-label"></label>
                <input asp-for="Inscricao.IdModificacao" class="form-control" />
                <span asp-validation-for="Inscricao.IdModificacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inscricao.GinastaId" class="control-label"></label>
                <select asp-for="Inscricao.GinastaId" class ="form-control" asp-items="ViewBag.GinastaId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
