@page
@model AppGCT.Pages.Inscricoes.InscricaoEpoca.EditModel

@{
    ViewData["Title"] = "Editar Inscrição";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@{
    var atletaId = Model.Inscricao?.Atleta?.Id;
    var routeId = atletaId.HasValue ? atletaId.Value.ToString() : "";
}

<style>
    .validation-error {
        color: red;
    }
</style>

<h1>Editar Inscrição</h1>

<hr />
<div>
    <a title="Voltar" class='btn btn-success' asp-area='' asp-page='/Inscricoes/InscricaoEpoca/Index' asp-route-id='@routeId'>
        <span class="btn-svg-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg>
        </span>
    </a>
</div>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Inscricao.Id" />
            <input type="hidden" asp-for="Inscricao.DtInscricao" />

            @if (User.IsInRole("Administrador") || User.IsInRole("Ginásio"))
            {
                <div class="form-group">
                    <label asp-for="Inscricao.Class.NomeClasse" class="control-label"></label>
                    <select asp-for="Inscricao.ClasseId" class="form-control" asp-items="ViewBag.ClasseId"></select>
                    @Html.ValidationMessageFor(model => model.Inscricao.ClasseId, null, new { @class = "validation-error" })
                </div>
                <div class="form-group">
                    <label asp-for="Inscricao.Descont.CodDesconto" class="control-label"></label>
                    <select asp-for="Inscricao.CodDesconto" class="form-control" asp-items="ViewBag.CodDesconto"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Inscricao.IdFGP" class="control-label"></label>
                    <input asp-for="Inscricao.IdFGP" class="form-control" />
                    <span asp-validation-for="Inscricao.IdFGP" class="text-danger"></span>
                </div>
            }
            else
            {
                <input type="hidden" asp-for="Inscricao.ClasseId" />
                <input type="hidden" asp-for="Inscricao.CodDesconto" />
                <input type="hidden" asp-for="Inscricao.IdFGP" />
            }
            <div class="form-group">
                <label asp-for="Inscricao.ISocGinasta" class="control-label">É Sócio/Ginasta?</label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Inscricao.ISocGinasta" class="form-check-input" value="S" />
                        Sim
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Inscricao.ISocGinasta" class="form-check-input" value="N" />
                        Não
                    </label>
                </div>
                <span asp-validation-for="Inscricao.ISocGinasta" class="text-danger"></span>
            </div>


        @if (User.IsInRole("Administrador") || User.IsInRole("Ginásio"))
            {
                <div class="form-group">
                    <label asp-for="Inscricao.IdadeAgosto" class="control-label"></label>
                    <input asp-for="Inscricao.IdadeAgosto" class="form-control" />
                    <span asp-validation-for="Inscricao.IdadeAgosto" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Inscricao.IConsentimento" />
                <input type="hidden" asp-for="Inscricao.DtConsentimento" />
                <div class="form-group">
                    <label asp-for="Inscricao.IExamMed" class="control-label">Exame Médico Desportivo/Atestado Méd./Termo Responsabilidade</label>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" asp-for="Inscricao.IExamMed" class="form-check-input" value="S" />
                            Sim
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" asp-for="Inscricao.IExamMed" class="form-check-input" value="N" />
                            Não
                        </label>
                    </div>
                    <span asp-validation-for="Inscricao.IExamMed" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Inscricao.DtExamMed" class="control-label">Validade Exame Médico Desportivo/Atestado Méd./Termo Responsabilidade</label>
                    <input asp-for="Inscricao.DtExamMed" class="form-control" />
                    <span asp-validation-for="Inscricao.DtExamMed" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Inscricao.IFicFGP" class="control-label">Ficha Individual FGP (mod. 3/2017)-Assinada</label>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" asp-for="Inscricao.IFicFGP" class="form-check-input" value="S" />
                            Sim
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" asp-for="Inscricao.IFicFGP" class="form-check-input" value="N" />
                            Não
                        </label>
                    </div>
                    <span asp-validation-for="Inscricao.IFicFGP" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Inscricao.DtFicFGP" class="control-label"></label>
                    <input asp-for="Inscricao.DtFicFGP" class="form-control" />
                    <span asp-validation-for="Inscricao.DtFicFGP" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Inscricao.ISeguro" class="control-label">Pagamento Seguro</label>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" asp-for="Inscricao.ISeguro" class="form-check-input" value="S" />
                            Sim
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" asp-for="Inscricao.ISeguro" class="form-check-input" value="N" />
                            Não
                        </label>
                    </div>
                    <span asp-validation-for="Inscricao.ISeguro" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Inscricao.IPagamInscricao" class="control-label">Pagamento Inscrição</label>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" asp-for="Inscricao.IPagamInscricao" class="form-check-input" value="S" />
                            Sim
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" asp-for="Inscricao.IPagamInscricao" class="form-check-input" value="N" />
                            Não
                        </label>
                    </div>
                    <span asp-validation-for="Inscricao.IPagamInscricao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Inscricao.ILeituraObrig" class="control-label">Entrega dos documentos de leitura obrigatória</label>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" asp-for="Inscricao.ILeituraObrig" class="form-check-input" value="S" />
                            Sim
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" asp-for="Inscricao.ILeituraObrig" class="form-check-input" value="N" />
                            Não
                        </label>
                    </div>
                    <span asp-validation-for="Inscricao.ILeituraObrig" class="text-danger"></span>
                </div>
            }
            else
            {
                <input type="hidden" asp-for="Inscricao.IdadeAgosto" />
                <input type="hidden" asp-for="Inscricao.IConsentimento" />
                <input type="hidden" asp-for="Inscricao.DtConsentimento" />
                <input type="hidden" asp-for="Inscricao.IExamMed" />
                <input type="hidden" asp-for="Inscricao.DtExamMed" />
                <input type="hidden" asp-for="Inscricao.IFicFGP" />
                <input type="hidden" asp-for="Inscricao.DtFicFGP" />
                <input type="hidden" asp-for="Inscricao.ISeguro" />
                <input type="hidden" asp-for="Inscricao.IPagamInscricao" />
                <input type="hidden" asp-for="Inscricao.ILeituraObrig" />
            }
            <div class="form-group">
                <label asp-for="Inscricao.IFotos" class="control-label">Autoriza o seu Ginasta a ser fotografado e filmado em contexto desportivo ou atividades lúdicas, promovidas pelo Ginásio Clube de Tomar. Tomo conhecimento de
                    que a imagem recolhida pode servir para documentação interna do GCT e para divulgação nos jornais, redes socias e
                    outros fins publicitários.
                </label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Inscricao.IFotos" class="form-check-input" value="S" />
                        Sim
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Inscricao.IFotos" class="form-check-input" value="N" />
                        Não
                    </label>
                </div>
                <span asp-validation-for="Inscricao.IFotos" class="text-danger"></span>
            </div>
            <div>
                <label>O ginasta tem alguma alergia a:</label>
            </div>
            <div class="form-group">
                <label asp-for="Inscricao.IIbuprofeno" class="control-label">Ibruprofeno</label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Inscricao.IIbuprofeno" class="form-check-input" value="S" />
                        Sim
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Inscricao.IIbuprofeno" class="form-check-input" value="N" />
                        Não
                    </label>
                </div>
                <span asp-validation-for="Inscricao.IIbuprofeno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inscricao.IParacetamol" class="control-label">Paracetamol</label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Inscricao.IParacetamol" class="form-check-input" value="S" />
                        Sim
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Inscricao.IParacetamol" class="form-check-input" value="N" />
                        Não
                    </label>
                </div>
                <span asp-validation-for="Inscricao.IParacetamol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inscricao.IAntiInflam" class="control-label">Autoriza em casos pontuais, a toma de analgésico/anti-inflamatório, em caso de hematoma com dor latente durante treino?</label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Inscricao.IAntiInflam" class="form-check-input" value="S" />
                        Sim
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Inscricao.IAntiInflam" class="form-check-input" value="N" />
                        Não
                    </label>
                </div>
                <span asp-validation-for="Inscricao.IAntiInflam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inscricao.DescAlergias" class="control-label">O ginasta tem alguma alergia ou condição de saúde relevante?</label>
                <input asp-for="Inscricao.DescAlergias" class="form-control" />
                <span asp-validation-for="Inscricao.DescAlergias" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Inscricao.DataCriacao" />
            <input type="hidden" asp-for="Inscricao.IdCriacao" />
            <input type="hidden" asp-for="Inscricao.DataModificacao" />
            <input type="hidden" asp-for="Inscricao.IdModificacao" />
            <input type="hidden" asp-for="Inscricao.GinastaId" />
            <input type="hidden" asp-for="Inscricao.EpocaId" />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.7/dist/sweetalert2.all.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
                $(document).ready(function () {
                    let msg2 = $('#StatusMessageFinal1').val();
                    if (msg2.length > 0) {
                        swal.fire(msg2);
                    }
                });

            </script>

            <div class="d-none">
                <input asp-for="StatusMessageFinal1" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
