@page
@model AppGCT.Pages.Ginasio.Epocas.EditModel

@{
    ViewData["Title"] = "Editar Época Desportiva";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Editar Época Desportiva</h1>
<hr />
<div>
    <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Gestao/Epocas/Index'>Voltar</a>
</div>
<br>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Epoca.IdEpoca" />
            <div class="form-group">
                <label asp-for="Epoca.NomeEpoca" class="control-label"></label>
                <input asp-for="Epoca.NomeEpoca" class="form-control" />
                <span asp-validation-for="Epoca.NomeEpoca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Epoca.DataInicio" class="control-label"></label>
                <input asp-for="Epoca.DataInicio" class="form-control" />
                <span asp-validation-for="Epoca.DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Epoca.DataFim" class="control-label"></label>
                <input asp-for="Epoca.DataFim" class="form-control" />
                <span asp-validation-for="Epoca.DataFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Epoca.EstadoEpoca" class="control-label">Estado Época</label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Epoca.EstadoEpoca" class="form-check-input" value="A" />
                        Ativa
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Epoca.EstadoEpoca" class="form-check-input" value="C" />
                        Cancelada
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Epoca.EstadoEpoca" class="form-check-input" value="F" />
                        Finalizada
                    </label>
                </div>
                <span asp-validation-for="Epoca.EstadoEpoca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Epoca.ICobrancUltimoMes" class="control-label">Cobrar última mensalidade?</label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Epoca.ICobrancUltimoMes" class="form-check-input" value="S" />
                        Sim
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Epoca.ICobrancUltimoMes" class="form-check-input" value="N" />
                        Não
                    </label>
                </div>
                <span asp-validation-for="Epoca.ICobrancUltimoMes" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Epoca.DataCriacao" />
            <input type="hidden" asp-for="Epoca.IdCriacao" />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.7/dist/sweetalert2.all.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
                $(document).ready(function () {
                    let msg2 = $('#StatusMessageFinal').val();
                    if (msg2.length > 0) {
                        swal.fire(msg2);
                    }
                });

            </script>

            <div class="d-none">
                <input asp-for="StatusMessageFinal" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
