@page
@model AppGCT.Pages.Gestao.CobrancaMensalidades.IndexModel

@{
    ViewData["Title"] = "Cobrança Mensalidades";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Plano Mensalidades</h1>

<form method="post"><button class="btn btn-default">Click to post</button></form>



<table class="table">
    <thead>
        <tr>
            <th>
                Data da Mensalidade
            </th>
            <th>
                Valor a lançar
            </th>
            <th>
                Ginasta
            </th>
            <th>
                Sócio
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Mensalidades)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataMensalidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorLancar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ginasta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Socio)
                </td>
            </tr>
        }
    </tbody>
</table>