@page
@model AppGCT.Pages.Gestao.CobrancaMensalidades.IndexModel

@{
    ViewData["Title"] = "Cobrança Mensalidades";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}




<h1>Cobrança automática de Mensalidades</h1>

<form method="post">
    <script src = "https://cdn.jsdelivr.net/npm/sweetalert2@11.1.7/dist/sweetalert2.all.min.js" ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            let msg = $('#StatusMessage').val();
            if (msg.length > 0) {
                swal.fire(msg);
            }
        });

        <script>src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.7/dist/sweetalert2.all.min.js" ></script>

    <script>
        $(document).ready(function () {
            let msg = $('#StatusMessage').val();
            if (msg.length > 0) {
                swal.fire(msg);
            }
        }
    </script>
    </script>
    <div class="d-none">
        <input asp-for="StatusMessage" />
    </div>
    <button class="btn btn-primary bt-sm">Lançar</button>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                Data da Mensalidade
            </th>
            <th>
                Valor a lançar
            </th>
            <th>
                Ginasta
            </th>
            <th>
                Sócio
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Mensalidades)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataMensalidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorLancar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ginasta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Socio)
                </td>
            </tr>
        }
    </tbody>
</table>