@page
@model AppGCT.Pages.Gestao.Utilizadores.ErrorModel

@{
    ViewData["Title"] = "Erro";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Não é possivel concretizar a operação pretendida!!</h1>

<hr />
<div>
    <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Gestao/Utilizadores/Index'>Voltar</a>
</div>
<br>