@page
@model AppGCT.Pages.Ginasio.IndexModel
@{
    ViewData["Title"] = "Gestão Ginásio";
}

<h1>@ViewData["Title"]</h1>
<br>
<div>
    <a class='btn btn-primary btn-sm' href='/Ginasio/Epocas/Index'>Épocas Desportivas</a>
</div>