@page
@model AppGCT.Pages.Ginasio.IndexModel
@{
    ViewData["Title"] = "Gestão Ginásio";
}

<h1>@ViewData["Title"]</h1>
<br>
<div>
    <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Inscricoes/Ginastas/Index'>Ginastas</a>
</div>
<div>
    <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Gestao/Utilizadores/Index'>Utilizadores</a>
</div>
<br>
<div>
    <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Gestao/Epocas/Index'>Épocas Desportivas</a>
</div>
<br>
<div>
    <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Gestao/Descontos/Index'>Descontos</a>
</div>
<br>
@*<div>
    <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Gestao/Metodos/Index'>Métodos de Pagamento</a>
</div>*@
<br>