@page
@model AppGCT.Pages.Ginasio.IndexModel
@{
    ViewData["Title"] = "Gestão Ginásio";
}

<h1>@ViewData["Title"]</h1>
<br>
<div>
    <a class='btn btn-primary btn-sm' href='/Gestao/Utilizadores/Index'>Utilizadores</a>
</div>
<br>
<div>
    <a class='btn btn-primary btn-sm' href='/Gestao/Epocas/Index'>Épocas Desportivas</a>
</div>
<br>
<div>
    <a class='btn btn-primary btn-sm' href='/Gestao/Descontos/Index'>Descontos</a>
</div>
<br>
<div>
    <a class='btn btn-primary btn-sm' href='/Gestao/Metodos/Index'>Métodos de Pagamento</a>
</div>
<br>