@page
@model AppGCT.Pages.Gestao.RubricasPrecario.CreateModel

@{
    ViewData["Title"] = "Criar Rúbrica Preçário";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Criar Rúbrica Preçário</h1>
<hr />
<div>
    <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Gestao/RubricasPrecario/Index'>Voltar</a>
</div>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rubrica.CodRubrica" class="control-label"></label>
                <input asp-for="Rubrica.CodRubrica" class="form-control" />
                <span asp-validation-for="Rubrica.CodRubrica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rubrica.DescricaoRubrica" class="control-label"></label>
                <input asp-for="Rubrica.DescricaoRubrica" class="form-control" />
                <span asp-validation-for="Rubrica.DescricaoRubrica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rubrica.ClasseId" class="control-label">Classe</label>
                <select asp-for="Rubrica.ClasseId" class="form-control" asp-items="ViewBag.ClasseId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Rubrica.DescontoId" class="control-label">Desconto</label>
                <select asp-for="Rubrica.DescontoId" class="form-control" asp-items="ViewBag.DescontoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Rubrica.EstadoRubrica" class="control-label">Estado</label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Rubrica.EstadoRubrica" class="form-check-input" value="A" checked />
                        Ativo
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Rubrica.EstadoRubrica" class="form-check-input" value="I" />
                        Inativo
                    </label>
                </div>
                <span asp-validation-for="Rubrica.EstadoRubrica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rubrica.TipoMovimento" class="control-label">Tipo Movimento</label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Rubrica.TipoMovimento" class="form-check-input" value="D" checked />
                        Débito
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Rubrica.TipoMovimento" class="form-check-input" value="C" />
                        Crédito
                    </label>
                </div>
                <span asp-validation-for="Rubrica.TipoMovimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rubrica.IPrecario" class="control-label"></label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Rubrica.IPrecario" class="form-check-input" value="S" checked />
                        Sim
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Rubrica.IPrecario" class="form-check-input" value="N" />
                        Não
                    </label>
                </div>
                <span asp-validation-for="Rubrica.IPrecario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rubrica.OrdemPrecario" class="control-label"></label>
                <input asp-for="Rubrica.OrdemPrecario" class="form-control" />
                <span asp-validation-for="Rubrica.OrdemPrecario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rubrica.IVlrUnit" class="control-label"></label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Rubrica.IVlrUnit" class="form-check-input" value="S" checked />
                        Sim
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Rubrica.IVlrUnit" class="form-check-input" value="N" />
                        Não
                    </label>
                </div>
                <span asp-validation-for="Rubrica.IVlrUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rubrica.ValorUnitario" class="control-label"></label>
                <input type="number" asp-for="Rubrica.ValorUnitario" class="form-control" />
                <span asp-validation-for="Rubrica.ValorUnitario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rubrica.LocalTreino" class="control-label"></label>
                <input asp-for="Rubrica.LocalTreino" class="form-control" />
                <span asp-validation-for="Rubrica.LocalTreino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rubrica.Horario" class="control-label"></label>
                <input asp-for="Rubrica.Horario" class="form-control" />
                <span asp-validation-for="Rubrica.Horario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rubrica.HorasSemanais" class="control-label"></label>
                <input asp-for="Rubrica.HorasSemanais" class="form-control" />
                <span asp-validation-for="Rubrica.HorasSemanais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
