@page
@model AppGCT.Pages.Gestao.RubricasPrecario.EditModel

@{
    ViewData["Title"] = "Editar Rúbrica Preçário";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<style>
    .validation-error {
        color: red;
    }
</style>

<h1>Editar Rúbrica Preçário</h1>
<hr />
<div>
    <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Gestao/RubricasPrecario/Index'>Voltar</a>
</div>
<br>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Rubrica.CodRubrica" />
            <div class="form-group">
                <label asp-for="Rubrica.DescricaoRubrica" class="control-label"></label>
                <input asp-for="Rubrica.DescricaoRubrica" class="form-control" />
                <span asp-validation-for="Rubrica.DescricaoRubrica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rubrica.ClasseId" class="control-label">Classe</label>
                <select asp-for="Rubrica.ClasseId" class="form-control" asp-items="ViewBag.ClasseId"></select>
                <span asp-validation-for="Rubrica.ClasseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rubrica.DescontoId" class="control-label">Desconto</label>
                <select asp-for="Rubrica.DescontoId" class="form-control" asp-items="ViewBag.DescontoId" disabled></select>
                <span asp-validation-for="Rubrica.DescontoId" class="text-danger"></span>
                @Html.ValidationMessageFor(model => model.Rubrica.DescontoId, null, new { @class = "validation-error" })
            </div>
            <div class="form-group">
                <label asp-for="Rubrica.EstadoRubrica" class="control-label"></label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Rubrica.EstadoRubrica" class="form-check-input" value="A" />
                        Ativo
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Rubrica.EstadoRubrica" class="form-check-input" value="I" />
                        Inativo
                    </label>
                </div>
                <span asp-validation-for="Rubrica.EstadoRubrica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rubrica.TipoMovimento" class="control-label"></label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Rubrica.TipoMovimento" class="form-check-input" value="D" />
                        Débito
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Rubrica.TipoMovimento" class="form-check-input" value="C" />
                        Crédito
                    </label>
                </div>
                <span asp-validation-for="Rubrica.TipoMovimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rubrica.IPrecario" class="control-label"></label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Rubrica.IPrecario" class="form-check-input" value="S" id="Rubrica_IPrecario_S" />
                        Sim
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Rubrica.IPrecario" class="form-check-input" value="N" id="Rubrica_IPrecario_N" />
                        Não
                    </label>
                </div>
                <span asp-validation-for="Rubrica.IPrecario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rubrica.OrdemPrecario" class="control-label"></label>
                <input asp-for="Rubrica.OrdemPrecario" class="form-control" disabled/>
                <span asp-validation-for="Rubrica.OrdemPrecario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rubrica.IVlrUnit" class="control-label"></label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Rubrica.IVlrUnit" class="form-check-input" value="S" id="Rubrica_IVlrUnit_S" />
                        Sim
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Rubrica.IVlrUnit" class="form-check-input" value="N" id="Rubrica_IVlrUnit_N" />
                        Não
                    </label>
                </div>
                <span asp-validation-for="Rubrica.IVlrUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rubrica.ValorUnitario" class="control-label"></label>
                <input type="number" asp-for="Rubrica.ValorUnitario" class="form-control" disabled/>
                <span asp-validation-for="Rubrica.ValorUnitario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rubrica.LocalTreino" class="control-label"></label>
                <input asp-for="Rubrica.LocalTreino" class="form-control" disabled/>
                <span asp-validation-for="Rubrica.LocalTreino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rubrica.Horario" class="control-label"></label>
                <input asp-for="Rubrica.Horario" class="form-control" disabled/>
                <span asp-validation-for="Rubrica.Horario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rubrica.HorasSemanais" class="control-label"></label>
                <input asp-for="Rubrica.HorasSemanais" class="form-control" disabled/>
                <span asp-validation-for="Rubrica.HorasSemanais" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<!-- código js para proteger/desproteger campos preenchidos apenas se existir classe preenchida -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Obter nome campos
        var classeIdField = $('#Rubrica_ClasseId');
        var descontoIdField = $('#Rubrica_DescontoId');
        var localtreinoField = $('#Rubrica_LocalTreino');
        var horarioField = $('#Rubrica_Horario');
        var horassemanaisdField = $('#Rubrica_HorasSemanais');
        var ivalorunitarioNField = $('#Rubrica_IVlrUnit_N');
        var ivalorunitarioSField = $('#Rubrica_IVlrUnit_S');
        var iprecarioNField = $('#Rubrica_IPrecario_N');
        var iprecarioSField = $('#Rubrica_IPrecario_S');
        var valorunitarioField = $('#Rubrica_ValorUnitario');
        var ordemprecarioField = $('#Rubrica_OrdemPrecario');


        // Função para alterações sobre o campo Classe
        classeIdField.change(function () {
            // Protege ou desprotege campos com base no valor do ClasseId
            if ($(this).val() !== '') {
                descontoIdField.prop('disabled', false);
                localtreinoField.prop('disabled', false);
                horarioField.prop('disabled', false);
                horassemanaisdField.prop('disabled', false);
            } else {
                descontoIdField.prop('disabled', true);
                localtreinoField.prop('disabled', true);
                horarioField.prop('disabled', true);
                horassemanaisdField.prop('disabled', true);
                // Limpa campos
                descontoIdField.val('Seleccionar Classe');
                localtreinoField.val('');
                horarioField.val('');
                horassemanaisdField.val('');
            }
        });
        // Função para alterações sobre o campo IPrecario
        iprecarioNField.change(function () {
            // Protege ou desprotege campos com base no valor do IPrecario
            if ($(this).val() === 'N') {
                ordemprecarioField.prop('disabled', true);
                // Limpa campos
                ordemprecarioField.val('');
            }
        });

        // Função para alterações sobre o campo IPrecario
        iprecarioSField.change(function () {
            // Protege ou desprotege campos com base no valor do IPrecario
            if ($(this).val() === 'S') {
                ordemprecarioField.prop('disabled', false);
            }
        });

        // Função para alterações sobre o campo IVlrUnit
        ivalorunitarioNField.change(function () {
            // Protege ou desprotege campos com base no valor do IVlrUnit
            if ($(this).val() === 'N') {
                valorunitarioField.prop('disabled', true);
                // Limpa campos
                valorunitarioField.val('');
            }
        });

        // Função para alterações sobre o campo IVlrUnit
        ivalorunitarioSField.change(function () {
            // Protege ou desprotege campos com base no valor do IVlrUnit
            if ($(this).val() === 'S') {
                valorunitarioField.prop('disabled', false);
            }
        });
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
